<!DOCTYPE html>
<html th:replace="~{base :: layout (~{::title}, ~{::main}, _, _)}">
<head>
  <title>
    [[${cliente.id == null ? 'Cadastrar' : 'Editar'}]] Cliente
  </title>
</head>
<body>
  <main>
    <div class="row">
      <div class="col">
        <h1 th:include="~{::title}">Teste</h1>
      </div>
    </div>

    <form method="POST" th:object="${cliente}">
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" th:field="*{nome}">
            <ul>
              <li class="text-danger" th:each="erro : ${#fields.errors('nome')}" th:text="${erro}"></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" th:field="*{email}">
            <ul>
              <li class="text-danger" th:each="erro : ${#fields.errors('email')}" th:text="${erro}"></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="cep" class="form-label">CEP</label>
            <input type="text" class="form-control" th:field="*{cep}">
            <ul>
              <li class="text-danger" th:each="erro : ${#fields.errors('cep')}" th:text="${erro}"></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="logradouro" class="form-label">Logradouro</label>
            <input type="text" class="form-control" th:field="*{logradouro}">
            <ul>
              <li class="text-danger" th:each="erro : ${#fields.errors('logradouro')}" th:text="${erro}"></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="bairro" class="form-label">Bairro</label>
            <input type="text" class="form-control" th:field="*{bairro}">
            <ul>
              <li class="text-danger" th:each="erro : ${#fields.errors('bairro')}" th:text="${erro}"></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="cidade" class="form-label">Cidade</label>
            <input type="text" class="form-control" th:field="*{cidade}">
            <ul>
              <li class="text-danger" th:each="erro : ${#fields.errors('cidade')}" th:text="${erro}"></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="estado" class="form-label">Estado</label>
            <input type="text" class="form-control" th:field="*{estado}">
            <ul>
              <li class="text-danger" th:each="erro : ${#fields.errors('estado')}" th:text="${erro}"></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </div>
    </form>
  </main>
</body>
</html>